<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Lists</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <link rel="icon" href="/Images/logo.png" type="image/png">
        <link rel="stylesheet" href="/CSS/lists.css" type="text/css">
    </head>
    <body>
        <%- include("partials/header.ejs")%>

        <div style="width:1200px; height:550px; position: fixed; background-color: #d2d2d2; margin-left:300px; top: 155px; border-radius: 10px;"></div>

        <div style="min-height: 550px; height:fit-content; width:250px; background-color: #373737; margin-left:20px; border-radius: 20px;">
            <p class="listOptions">MY WISHLIST</p>
        </div>

        <div class="wishlistContainer">
            <% for(var i = 0; i < gameList.length; i++) { %>
                <a href=<%= gameList[i]%>><img src= <%= gameImageList[i]%>></a>
            <% } %>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="JavaScript/browse.js"></script>
    </body>
</html>